<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel" style="width: 100%;">
      <div class="content-wrapper">
        <div class="row text-center">
          <div class="col-md-12 grid-margin">
            <div class="row" style="margin-left: 260px;">
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold"><b>Welcome {{user.name}}</b></h3>
                <h6 class="font-weight-normal mb-0 mt-3"><b>Savor the Moments with Our Delightful Dishes .....</b><span
                    ><b>&nbsp;The best foods on the planet !!!!</b></span></h6>
              </div>
              <div class="col-12 col-xl-4">
                <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mt-4">
              <img class="rounded" src="../../../assets/images/Thali.jpg" style="width: 100%; height: 390px; box-shadow: 5px 5px 8px;" alt="people">
            </div>
          </div>
          <div class="col-md-6 grid-margin transparent mt-4">
            <div class="row">
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card">
                  <img class="rounded" src="../../../assets/images/panner.jpg" style="width: 100%; height: 180px;" alt="">
                </div>
              </div>
              <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card">
                 <img class="rounded" src="../../../assets/images/Veg.jpg" style="width: 100%; height: 180px;" alt="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card">
                    <img class="rounded" src="../../../assets/images/nonveg.jpg" style="width: 100%; height: 180px;" alt="">
                  </div>
              </div>
              <div class="col-md-6 stretch-card transparent">
                  <div class="card">
                    <img class="rounded" src="../../../assets/images/Biryani.jpg" style="width: 100%; height: 180px;" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-xxl py-5">
          <div class="container">
              <div class="row g-4">
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                      <div class="service-item rounded pt-3">
                          <div class="p-4">
                              <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                              <h5>Master Chefs</h5>
                              <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                      <div class="service-item rounded pt-3">
                          <div class="p-4">
                            <i class="fa-solid fa-utensils fa-3x fa-user-tie text-primary mb-4"></i>
                              <h5>Quality Food</h5>
                              <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                      <div class="service-item rounded pt-3">
                          <div class="p-4">
                              <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                              <h5>Online Order</h5>
                              <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                      <div class="service-item rounded pt-3">
                          <div class="p-4">
                              <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                              <h5>24/7 Service</h5>
                              <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      </div>

    </div>
  </div>
</div>